@font-face {
  font-family: "icr-hero-regular";
  src: url("./fonts/new_hero_regular.otf") format("opentype");
}

@font-face {
  font-family: "icr-hero-medium";
  src: url("./fonts/new_hero_medium.otf") format("opentype");
}

@font-face {
  font-family: "icr-hero-bold";
  src: url("./fonts/new_hero_bold.otf") format("opentype");
}

:root {
  --icreon-blue-bg: #386aff;
  --icreon-blue-bg-alt: #3b479e;
  --icreon-blue-font-color: #386aff;
  --icreon-white: #ffffff;
  --icreon-purple: #3b479e;
  --icreon-purple-light: #c2c7fc;
  --icreon-black: #000000;
  --critical: #ff2f2f;
  --high: #f77a7a;
  --moderate: #958138;
  --low: #4ecd86;
  --info: #6da4dd;
  --critical-bg: #931515e3;
  --critical-bg-alt: #9b00006e;
  --high-bg: #e50404;
  --high-bg-alt: #ff4747;
  --moderate-bg: #75652b;
  --moderate-bg-alt: #bb9716;
  --low-bg: #737360;
  --low-bg-alt: #9d9d92;
  --info-bg: #b6d3f1;
  --text-grey: #707070;
  --text-purple: #7240cc;
  --color-low: #e74c3c;
  --color-medium: #f39c12;
  --color-high: #2ecc71;
  --hover-blue: #c6ecf7;
  --blue-bg-alt: #dce9ff;
  --dark-grey: #424245;
  --light-green: #ccffe0;
  --light-grey: #e7eaec;
  --dark-grey-alt: #dfdfdf;
  --light-red: #ffe2e2;
}

.h1 {
  color: var(--icreon-blue-font-color);
}
.grey-header {
  color: var(--text-grey) !important;
}
.no-wrap {
  white-space: nowrap !important;
}
.w-100 {
  width: 100%;
}
.error-section {
  background: var(--light-red) !important;
  border-top: 5px solid red;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "icr-hero-regular", sans-serif;
  font-size: 1em;
  background-color: #f7f7f7;
  color: var(--icreon-black);
  padding: 0;
  height: 100vh;
}
.imp-text {
  font-weight: bold;
  color: var(--icreon-blue-bg);
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-align-left {
  text-align: left !important;
}
.text-right {
  text-align: right;
}
.float-right {
  float: right;
}
.float-left {
  float: left !important;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 10px;
}

.m0 {
  margin: 0;
}

.mb3px {
  margin-bottom: 3px;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mr-1 {
  margin-right: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.color-grey {
  color: #7a7a7a;
}
.text-danger {
  color: red !important;
}
.text-warning {
  color: #9a5919 !important;
}
.text-purple {
  color: #9817a8 !important;
}
.text-green {
  color: #1a7f50 !important;
}
.ml10 {
  margin-left: 10px;
}
.lh-3 {
  line-height: 1.3;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.flex-gap-10 {
  gap: 10px;
}
.flex-gap-3 {
  gap: 3px !important;
}
.tag {
  padding: 3px;
  border: 1px solid #ededed;
  border-radius: 4px;
  margin-right: 3px;
  color: #454545;
  background: #f9f9f9;
}

.display-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between !important;
}
.flex-justify-center {
  justify-content: center !important;
}
.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-grow-1 {
  flex-grow: 1;
}
.css-grid-col-2 {
  grid-column: span 2;
}
.action-btn {
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 3px 10px 3px 10px;
  display: flex;
  align-items: center;
}
.action-btn:hover {
  background-color: #2fafee !important;
}
.internal-link {
  text-decoration: none;
  color: #498ba7;
}
.internal-link:hover {
  color: #7a7a7a;
}
.no-link {
  text-decoration: none;
}
.no-link:hover {
  color: #7a7a7a;
}
.no-link:focus {
  outline: none !important;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.flex-1 {
  flex: 1;
}
.flex-align-center {
  align-items: center;
}
.flex-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-justify-end {
  justify-content: flex-end !important;
}
.flex-gap-5 {
  gap: 5px;
}
.content-box {
  flex: 1;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: flex-start;
  width: fit-content;
}
.btn-group .action-button {
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #dddddd;
  padding: 3px 10px 3px 10px;
  display: flex;
  align-items: center;
}
.btn-group .label {
  display: flex;
  background: #7896ac;
  flex: 1;
  padding: 8px 5px 7px 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.hover-purple:hover td {
  background: #f5f5ff;
}
.h-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.simple-table {
  background: white;
  border: 1px solid #e6e0e0;
  border-radius: 4px;
}
.simple-table td {
  background: white;
  border: none;
  border-bottom: 1px solid #dfd9d9 !important;
}
.simple-table tr:last-child td {
  border-bottom: none !important;
}
.simple-table th {
  background-color: #efefef;
}

.simple-table tr:hover > td {
  background-color: var(--light-grey);
}

.version-table th,
.version-table td {
  background-color: white !important;
}
.simple-btn {
  height: 24px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #dddddd;
  align-items: center;
  width: 100%;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.app {
  display: flex;
  flex-direction: column;
  height: 98%;
}
.app .app-body {
  flex-grow: 1;
}
.app-footer {
  height: 20px;
  display: flex;
  background: var(--dark-grey);
  align-items: center;
  padding: 0px 10px;
  color: white;
  justify-content: flex-end;
  gap: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.app-header-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--icreon-white);
  padding: 10px 15px;
  align-items: center;
}
.app-header-section .header {
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.app-header-section .app-icon {
  height: 35px;
}

.box-yellow-alt {
  background-color: #f3efd5 !important;
}

.app-header-section .email-link {
  font-size: 0.8em;
  float: inline-end;
}
.app-header-section .email-link a.no-link {
  font-size: 14px;
  font-weight: bold;
}
.app-header-section .app-name {
  color: var(--icreon-blue-font-color);
  font-size: 1.5em;
  margin-bottom: 0px !important;
  margin-top: 0px;
}
.app-header-section .app-desc {
  color: #847c7c;
  font-size: 14px;
}
.app-header-section .app-version {
  font-size: 12px !important;
  color: grey !important;
  font-weight: normal;
  font-style: italic;
}
.submit-btn {
  background: #4863f0;
  border: 1px solid #4863f0;
  float: right;
  padding: 5px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.danger-btn {
  background: red !important;
  border: 1px solid red !important;
}

.field-label {
  text-align: center;
  font-style: italic;
}
.field-value {
  font-weight: bold;
  text-align: center;
}
.header-section {
  margin-bottom: 0;
  font-size: 1em;
}
.hint {
  font-size: 0.9em;
  font-style: italic;
  color: #a5a4a4;
  margin-bottom: 20px;
}
.text-sm {
  font-size: 14px;
  font-style: italic;
  color: #a5a4a4;
}
.table {
  width: 100%;
  max-width: 100%;
}
.table-no-border {
  border: none !important;
  background-color: #e7e9eb !important;
}
.table-no-border th,
.table-no-border td {
  border: none !important;
  background: none !important;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: center;
  border-top: 1px solid #eceeef;
  color: black;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  text-align: left;
}
.table tbody + tbody {
  border-top: 2px solid #eceeef;
}
.table {
  background-color: #fff;
}
.table-sm th,
.table-sm td {
  padding: 0.3rem;
  vertical-align: center;
}
.table-bordered {
  border: 1px solid #eceeef;
  border-collapse: collapse;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
.box-1 {
  padding: 10px;
  border: 1px solid #e8e5e5;
  border-radius: 4px;
  background: var(--light-grey);
}
.box-1 h2 {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}
.summary-table {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: white;
  border: 1px solid #e8e5e5;
}
.summary-table h2 {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  font-size: 16px !important;
}
.box {
  padding: 10px;
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #c0c0c0;
}
.box-critical {
  background-color: var(--critical) !important;
}
.box-high {
  background-color: var(--high) !important;
}
.box-moderate {
  background-color: var(--moderate) !important;
}
.box-low {
  background-color: var(--low);
}
.box-info {
  background-color: var(--info);
}
.box-grey {
  background-color: var(--info-bg);
}
.box-success {
  background-color: green;
}
.box-success-alt {
  background-color: #92f892;
}
.grey-box {
  padding: 10px;
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #f5f5f5;
}

.compat-update {
  border-left: 5px solid green;
}
.breaking-update {
  border-left: 5px solid #cf6321;
}
.text-bold {
  font-weight: bold !important;
}
.fix-green {
  color: green;
}
.fix-red {
  color: red;
}
.fix-yellow {
  color: #cf6321;
}
.action-button {
  background: #655fe6;
  border: 1px solid white;
  padding: 5px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}
.action-button:disabled {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
.action-button:hover {
  background: #655fe6ab;
}
.execution-status-box .execution-step {
  padding: 10px 10px 10px 0px;
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.execution-status-box .sub-statement {
  padding: 5px 10px 5px 5px;
  background: #fef2f2;
  margin-bottom: 25px;
  border-radius: 4px;
  margin-top: -7px;
}
tr.selected td {
  background-color: #daefc9;
}
.flex-align-center {
  align-items: center;
}
.npm-search {
  background: #e4e9ff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.npm-search h1 {
  margin-top: 0;
  text-align: center;
  color: #3853a1;
  margin-bottom: 15px;
}
.search-input-box {
  width: 70%;
  display: flex;
}
.search-input-box .action-button {
  width: 105px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  border: 0px;
}
.search-input-box .npm-search-input {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #f8f3ff;
  padding-left: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 20px;
}

.search-input-box .npm-search-input:focus {
  outline: none !important;
  border: 1px solid #b081f1;
}
.npm-search-item {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  flex: 1 0 250px;
}
.npm-search-item.exact-match {
  background: #ffffff;
}
.npm-search-item.exact-match .pck-info {
  height: auto !important;
}

.npm-search-item:hover {
  box-shadow: 3px 3px 6px 1px #c0c0c0;
}
.npm-search-item-selected {
  background: #dcfff5;
}
.npm-search-item .pck-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.npm-search-item .pck-info .description {
  display: flex;
  flex-grow: 1;
}

.npm-result .description {
  font-size: 1em;
  color: #696161;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 3px;
}
.npm-result .link {
  margin-right: 10px;
  text-decoration: none;
}
.npm-result .link:hover {
  color: #ae6829;
}

.npm-result .author {
  float: right;
  color: #009688;
}
.npm-result .published-on {
  margin-bottom: 4px;
  color: #989898;
}

.recent-search-box {
  display: flex;
  background: white;
  padding: 4px;
  border-radius: 4px;
}
.recent-search-box .cross-btn {
  border: none;
  background: #f7cbcb;
  border-radius: 9px;
  cursor: pointer;
}

.npm-search-result {
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  overflow-wrap: anywhere;
  gap: 10px;
}
.npm-search-result-1 {
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-wrap: anywhere;
  padding: 10px;
}
.npm-package-info {
  width: 100%;
  background: #fefeff;
}
.npm-package-info .info-left {
  overflow: auto;
  flex: 0 0 60%;
}
.npm-package-info .info-right {
  background: #e4e9ff;
  padding: 10px;
}
.npm-package-info .basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.npm-package-info .basic-info h1 {
  color: #9e9e9e;
  margin-bottom: 0;
}
.npm-package-info #npm_package_readme {
  background: #fefeff !important;
  border: 0px;
}

.label-value-group {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.label-value-group .label {
  margin-bottom: 5px;
  color: var(--text-grey);
}
.label-value-group .value {
  color: var(--text-purple);
  font-size: 18px;
}
.label-value-group .action {
  display: flex;
  float: right;
  gap: 5px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hidden-row {
  display: none;
}
.white-space-no-wrap {
  white-space: nowrap;
}

.pill-sm {
  padding: 3px;
  border: 1px solid #e8e5e5;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.text-critical {
  color: #eb0b0b !important;
}
.text-high {
  color: #d35a6a !important;
}
.text-moderate {
  color: #ae922a !important;
}
.text-low {
  color: #cb8c03 !important;
}
.severity-box {
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 6px 3px 6px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  color: var(--icreon-white);
}
.severity-critical {
  background-color: var(--critical-bg);
}
.severity-high {
  background-color: var(--high-bg) !important;
}
.severity-moderate {
  background-color: var(--moderate-bg) !important;
}
.severity-low {
  background-color: var(--low-bg);
}
.severity-info {
  background-color: var(--info-bg);
}
.pill {
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
  display: inline-block;
}
.badge {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  display: inline-block;
}
.impacted {
  margin-top: 5px;
  font-style: italic;
  color: #787373;
}
.is-indirect {
  border-left: 3px solid #7e4c0d !important;
}
.is-direct {
  border-left: 3px solid #c79cff !important;
}
.is-indirect-indicator {
  width: 5px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: #7e4c0d;
}
.is-direct-indicator {
  width: 5px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: #c79cff;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.report-ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-inline-start: 25px;
}
.report-ul li {
  margin-bottom: 3px;
}
.package-vul-box {
  background-color: var(--light-grey);
  padding: 10px;
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
  border-radius: 4px;
}
.package-vul-box .table th,
.package-vul-box .table td {
  background-color: #f1f1f1 !important;
}
.package-vul-box ul {
  list-style: none;
  padding-left: 0px;
}
.package-vul-box li.li-vul {
  background: #e1e1e1;
  padding: 10px 20px 10px 10px;
  margin-bottom: 3px;
  border-radius: 4px;
}
.package-vul-box li.li-vul:hover {
  background: #c7c7c7;
}
.package-vul-box li.li-vul:hover a {
  color: white;
}
.bl-critical {
  border-left: 5px solid var(--critical-bg);
}
.bl-high {
  border-left: 5px solid var(--high-bg);
}
.bl-moderate {
  border-left: 5px solid var(--moderate-bg);
}
.bl-low {
  border-left: 5px solid var(--low-bg);
}
.bl-info {
  border-left: 5px solid var(--info-bg);
}
.pack-vul-tbl th:nth-child(2),
.pack-vul-tbl td:nth-child(2) {
  width: 100px;
}
.pack-vul-tbl th:nth-child(3),
.pack-vul-tbl td:nth-child(3) {
  width: 60px;
}
.pack-vul-tbl th:nth-child(4),
.pack-vul-tbl td:nth-child(4) {
  width: 60px;
}
.pack-vul-tbl th:nth-child(5),
.pack-vul-tbl td:nth-child(5) {
  width: 60px;
}
.vul-detail-right {
  float: right;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.bdg-sm {
  background: #8f9799;
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
  color: white;
}
.bdg-sm a {
  color: white !important;
  text-decoration: none;
}
.td-fix-avl {
  text-align: center;
  vertical-align: middle;
}
.small-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.loader-small {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  margin: 0;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 7px 1px #e4e4e4;
  padding: 10px 0px 10px 0px;
}
.loader-wrapper .loader-text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
.content-section {
  padding: 10px;
  border: 1px solid #e7e3e3;
  border-radius: 8px;
  background: #256d8a1f;
  margin-bottom: 25px;
}
.short-desc {
  font-size: 0.9em;
  font-style: italic;
  color: #a5a4a4;
  margin-top: 5px;
}
.text-with-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.field-split {
  display: flex;
  justify-content: space-evenly;
}
.field-split .field-item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}
.info-icon {
  color: black !important;
  background: #cbcaca;
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
  margin-left: 5px;
}
.brief-info .info-box {
  border: 1px solid #dddddd;
  padding: 14px;
  border-radius: 8px;
  text-align: center;
  background: #e4e4e4;
  border-bottom: 0;
  min-height: 200px;
}
.brief-info:hover .info-box {
  background: var(--dark-grey-alt);
}

.icon-btn {
  background: #ebebeb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
.icon-btn:hover {
  background: #ebebeb;
}

.npm-recent-search {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.link-btn {
  border: none;
  background: no-repeat;
  color: #2a2a9b;
  cursor: pointer;
  font-size: 1em;
}
.link-btn:hover {
  text-decoration: underline;
}

.quality-info {
  display: flex;
  max-width: 450px;
}
.info-container {
  width: 150px;
  margin-right: 0px;
  background: #ececec;
  padding: 5px;
  border-radius: 4px;
  margin-top: 30px;
  border-left: 2px solid #895fbb;
  border-radius: 0;
}

.info-bar {
  height: 5px;
  width: calc(var(--value) * 100%);
  margin-bottom: 5px;
  background-color: var(--color);
}
.info-label {
  text-align: left;
  font-size: 0.9em;
  color: #6a3f9b;
}
.info-bar {
  --color: var(--color-low);
}
.info-bar[style*="--value: 0."] {
  --color: var(--color-low);
}
.info-bar[style*="--value: 0.5"] {
  --color: var(--color-medium);
}

.info-bar[style*="--value: 0.6"],
.info-bar[style*="--value: 0.7"],
.info-bar[style*="--value: 0.8"],
.info-bar[style*="--value: 0.9"],
.info-bar[style*="--value: 1."] {
  --color: var(--color-high);
}

.brief-info .info-box.selected {
  background: var(--icreon-purple);
}

.brief-info .info-box.selected:hover {
  background: var(--icreon-blue-bg);
}

.brief-info .info-box.selected * {
  color: white;
}

.brief-info .info-header {
  font-size: 1.3em;
  font-weight: bold;
  color: #707070;
}
.brief-info .info-sub {
  font-weight: bold;
  color: #4966ba;
  font-size: 14px;
}

.brief-info .info-count {
  font-size: 4em;
  font-weight: bold;
  margin-top: 20px;
  color: #706e6b;
}
.brief-info .brief-info-help-text {
  font-size: 15px;
  margin-top: -5px;
  color: #4e95df;
  float: right;
  font-style: italic;
}

.td-lint-1 {
  width: 100px;
}
.td-lint-2 {
  width: 150px;
}
.td-lint-4 {
  width: 20%;
}
.code-snippet {
  background-color: var(--icreon-white);
  padding: 0px 15px 0px 15px;
  border: 1px solid #e7e7e7;
}
.code-snippet pre {
  margin: 0 !important;
}
.code-snippet code {
  font-family: "Courier New", Courier, monospace;
  color: #000000 !important;
  background-color: transparent !important;
  white-space: pre-wrap !important;
}
.code-snippet blockquote {
  background: var(--light-grey) !important;
  border-color: #e7e7e7 !important;
}
.details-section {
  background: var(--icreon-white);
  padding: 10px;
  border-radius: 8px;
}
.details-section h1 {
  margin-top: 0px;
}
.a-blue-bold {
  font-weight: bold;
  text-decoration: none;
  color: #1c4e79;
}
.a-blue-bold:focus {
  outline: none !important;
}

.accordion {
  width: 100%;
  margin: 0 auto;
}
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  border: none;
  text-align: left;
  width: 100%;
  outline: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  border-radius: 4px;
}
.accordion-header .summary-box {
  flex: 0 0 95%;
}
.accordion-header:hover {
  background-color: #ddd;
}
.accordion-content {
  display: none;
  border-top: 1px solid #ccc;
  padding: 10px;
}
.icon {
  font-size: 20px;
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(45deg);
}
.summary-box .summary-value {
  margin-left: 20px;
  display: inline-block;
  display: flex;
  gap: 5px;
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10;
  text-align: left;
  white-space: normal;
}
[data-tooltip]::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 115%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10;
}
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
}
.td-lint-1 {
  width: 100px;
}
.td-lint-2 {
  width: 150px;
}
.td-lint-4 {
  width: 20%;
}
.dup-code {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
  margin-top: 0px;
  margin-bottom: 0;
}
.dup-code code {
  font-family: "Courier New", Courier, monospace;
  color: #000000 !important;
  background-color: transparent !important;
}
.table-dep {
  margin-bottom: 40px;
}
.table-dep th:nth-child(3) {
  width: 120px;
}
.no-vul {
  padding: 20px;
  background: #7bb134;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #242020;
}
.no-vul .head {
  font-size: 40px;
  font-weight: bold;
}
.no-vul .sub-head {
  font-size: 20px;
  margin-top: 10px;
}
.checklist-group {
  justify-content: space-between;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.checklist-item {
  background-color: #ffffff;
  padding: 15px;
  cursor: pointer;
}

.checklist-item:hover {
  background-color: var(--icreon-purple-light);
}
.checklist-item:hover .header,
.checklist-item:hover .info {
  color: var(--icreon-black);
}

.checklist-item > * {
  flex: 1;
}
.checklist-item.selected {
  background-color: var(--light-green);
}
.checklist-item.selected:hover {
  background-color: var(--blue-bg-alt) !important;
}
.checklist-item.selected:hover .header,
.checklist-item.selected:hover .info {
  color: var(--icreon-black);
}

.checklist-item .content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.checklist-item .checked_icon {
  display: inline-block;
}
.checklist-item .header {
  font-size: 2em;
  color: var(--icreon-blue-font-color);
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
}
.checklist-item .info {
  color: #646464;
  font-size: 0.9em;
  line-height: 1.3;
  font-style: italic;
}
.checklist-select-button {
  text-align: center;
  margin: 30px;
}

.checklist-select-button button {
  background: var(--icreon-blue-bg);
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  width: 201px;
  cursor: pointer;
}

.checklist-select-button button:disabled {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
.checklist-select-button button:hover {
  background: var(--icreon-blue-bg-alt);
}
#selection_section {
  border-radius: 8px;
}
#selection_section h1 {
  margin-top: 0;
}

.vul-pill-box {
  display: inline-flex;
  gap: 10px;
}
.vul-pill {
  display: flex;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}
.vul-pill .label {
  color: white;
  display: flex;
  padding: 5px;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0px;
  font-size: 13px;
}
.vul-pill .value {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 13px;
}

.vul-pill-critical .label {
  background-color: var(--critical-bg);
}
.vul-pill-critical .value {
  background-color: var(--critical-bg-alt);
}

.vul-pill-high .label {
  background-color: var(--high-bg);
}
.vul-pill-high .value {
  background-color: var(--high-bg-alt);
}

.vul-pill-moderate .label {
  background-color: var(--moderate-bg);
}
.vul-pill-moderate .value {
  background-color: var(--moderate-bg-alt);
}

.vul-pill-low .label {
  background-color: var(--low-bg);
}
.vul-pill-low .value {
  background-color: var(--low-bg-alt);
}

.vul-pill-success .label {
  background-color: #278920;
}
.vul-pill-success .value {
  background-color: #23592f;
}

.vul-pill-general .label {
  background-color: #1d83b1;
}
.vul-pill-general .value {
  background-color: #213e4f;
}

.tabs {
  width: 100%;
}
.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.tab-btn-content .tab-btn-label {
  display: flex;
  white-space: nowrap;
  margin-bottom: 10px;
}
.tab-btn-content .tab-btn-value {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.tab-button.active .tab-btn-label {
  font-weight: bold;
  color: white;
}
.tab-button.active .vul-pill {
  border: 1px solid transparent;
}

.tab-button.active {
  background-color: var(--icreon-purple);
}
.tab-button.active:hover {
  background-color: var(--icreon-blue-bg);
}

.tab-button.active:hover .tab-btn-label {
  color: var(--icreon-white);
}

.tab-button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}
.tab-button:hover {
  background-color: #ddd;
}
.tab-content {
  display: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-top: none;
}
.tab-content.active {
  display: block;
}
.webkit-text-align {
  text-align: -webkit-center;
}

.body-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 15px 0px 0px;
  height: 100%;
  margin-bottom: 35px;
}
.body-content .right-section {
  flex-grow: 1;
  padding-top: 15px;
  width: calc(100% - 220px);
}
.body-content .left-section {
  background: #272d4f;
  min-width: 211px;
}
.body-content .left-section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.body-content .left-section ul li {
  padding: 10px;
  background: #ecedeb;
  border-bottom: 1px solid #cdc5c5;
}
.body-content .left-section ul li a {
  text-decoration: none;
}
.body-content .left-section ul li:hover {
  background: #d5d5d5;
}

.body-content .left-section ul li.selected {
  background: var(--icreon-blue-bg);
}
.body-content .left-section ul li.selected a {
  color: var(--icreon-white);
}

.package-scripts-section .script-item {
  background: #f9f9f9;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.package-scripts-section .script-item .action-done {
  color: #1a7f50;
  font-weight: bold;
}
.package-scripts-section .script-item .icon-btn {
  padding: 10px 5px 10px 5px;
}
.package-scripts-section .script-item:hover .action-done {
  color: var(--icreon-white);
}
.package-scripts-section .script-item:hover {
  background: var(--icreon-blue-bg);
}
.package-scripts-section .script-item:hover .script-name,
.package-scripts-section .script-item:hover .script-cmd {
  color: var(--icreon-white) !important;
}
.package-scripts-section h3 {
  margin-bottom: 10px;
  margin-top: 0;
}
.package-scripts-section .script-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.package-scripts-section .script-cmd {
  font-size: 13px;
  color: #858383;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}
.dep-info-box {
  padding: 20px;
  background: white;
  border-radius: 4px;
}
.dep-info-box h3 {
  margin-top: 0;
}
.dep-info {
  display: grid;
  border-radius: 4px;
  flex-wrap: wrap;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.dep-info .section {
  display: flex;
  flex-direction: column;
}
.dep-info .label {
  font-size: 14px;
  margin-bottom: 15px;
  color: #898989;
}
.dep-info .value {
  font-weight: bold;
  color: #6f6f6f;
  margin-bottom: 10px;
}

.project-info-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}

.file-tree-struc ul {
  padding-left: 20px;
}
.file-tree-struc .folder {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  color: #9f9f9f;
}
.file-tree-struc .folder::before {
  content: "▶";
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.2s ease;
}
.file-tree-struc .folder.open::before {
  transform: rotate(90deg);
}

.file-tree-struc .file {
  margin-left: 15px;
  font-weight: normal !important;
}
.file-tree-struc .child_ui .file {
  margin-left: 20px !important;
}

.file-tree-struc .child_ui {
  display: none;
}
.file-tree-struc .child_ui .folder {
  margin-left: 0px;
}

.column-box {
  border-radius: 4px;
}
.break-spaces {
  white-space: break-spaces;
}

.ai-unit-app {
  background: var(--icreon-white);
}
.ai-unit-app {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ai-unit-app .prompt-config {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 25px;
}
.ai-unit-app .file-progress-status {
  flex-grow: 1;
}
.ai-unit-app .file-progress-status .ai-header {
  justify-content: space-between;
  color: #8f8d8d;
}
.progress-status {
  background: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
.ai-dashboard-content {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.white-code-box {
  background: white;
  border-radius: 4px;
}

.white-code-header {
  margin-left: 10px;
  margin-top: 10px;
}

.ai-unit-app .prompt-config .other-config-fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ai-unit-app .field {
  display: flex;
  flex-direction: column;
}
.ai-unit-app .field .field-label {
  margin-bottom: 5px;
  color: #23317f;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}
.ai-unit-app .field .form-input {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 5px;
  color: #434242;
  font-size: 14px;
}
.ai-unit-app select {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  height: 30px;
  padding-left: 4px;
  color: #434242;
  font-size: 14px;
}
.ai-unit-app .field .form-input:focus {
  outline: 1px solid #d5d5d5 !important;
}
.ai-unit-app .field .radio-label {
  color: #434242;
  font-size: 14px;
  margin-right: 5px;
}
.html-code {
  word-break: break-word;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

.html-code pre {
  background: var(--light-grey);
  padding: 5px;
  border-radius: 4px;
}

.html-code p {
  margin-bottom: 10px;
}

.html-code h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.html-code pre code,
.html-code p code {
  background: transparent !important;
  font-family: monospace;
  color: #414141 !important;
  white-space: break-spaces !important;
}

.ai-unit-app .open-api-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.show-on-browser {
  display: none;
}

.ai-gpt-search .grey-header {
  margin-top: 0;
  margin-bottom: 10;
}

.app-header-section .header-right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.app-header-section .header-right-section .icreon-icon {
  margin-top: -12px;
  width: 120px;
  margin-bottom: -6px;
}

.app-header-section .header-left-section {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}
